esphome:
  name: hydro-test
  friendly_name: Hydro Test

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: arduino

wifi:
  ssid: "nazov"
  password: "heslo"
  ap:
    ssid: "Hydro-Test"
    password: "12345678"

captive_portal:

logger:

ota:
  - platform: esphome
    password: ttrt

# Web rozhranie na testovanie
web_server:
  port: 80

# MOSFET kanály (výstupy)
switch:
  - platform: gpio
    id: pump_ch0
    name: "MOSFET CH0"
    pin: GPIO7
    restore_mode: ALWAYS_OFF

  - platform: gpio
    id: pump_ch1
    name: "MOSFET CH1"
    pin: GPIO6
    restore_mode: ALWAYS_OFF

  - platform: gpio
    id: pump_ch2
    name: "MOSFET CH2"
    pin: GPIO1
    restore_mode: ALWAYS_OFF

# Plavákový senzor hladiny vody (work in progress)
binary_sensor:
  - platform: gpio
    id: water_level
    name: "Water tank level"
    pin:
      number: GPIO2
      mode:
        input: true
        pullup: true    # drží pin HIGH, plavák ťahá na GND
    device_class: moisture

i2c:
  sda: GPIO8
  scl: GPIO10
  scan: true
  id: bus_a

sensor:
  - platform: sht4x
    temperature:
      name: "Hydro temperature"
      id: temperature
    humidity:
      name: "Hydro humidity"
      id: humidity
    update_interval: 10s
