substitutions:
  device_name: meteo_station

esphome:
  name: ${device_name}
  friendly_name: Meteo station

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret MS_api_encryption_key

ota:
  - platform: esphome
    password: !secret MS_ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Meteo-Station Fallback Hotspot"
    password: !secret MS_ap_fallback_password

captive_portal:

mqtt:
  broker: !secret mqtt_broker
  username: !secret mqtt_user
  password: !secret mqtt_pass

  on_message:
    - topic: meteo/ota_mode
      payload: "ON"
      then:
        - deep_sleep.prevent: deep_sleep_control

deep_sleep:
  id: deep_sleep_control
  run_duration: 20s
  sleep_duration: 10min

i2c:
  sda: 19
  scl: 18
  scan: true
  id: bus_a

switch:
  - platform: gpio
    pin: GPIO3 
    id: my_output
    restore_mode: ALWAYS_ON

sensor:
  - platform: bme680
    temperature:
      name: "${device_name} Temperature"
      id: "${device_name}_Temperature"
    pressure:
      name: "${device_name} Pressure"
      id: "${device_name}_Pressure"
    humidity:
      name: "${device_name} Humidity"
      id: "${device_name}_Humidity"
    gas_resistance:
      name: "${device_name} Gas Resistance"
      id: "${device_name}_Gas_Resistance"
    address: 0x77
    update_interval: 10s
